export('extractcolumns')
export('extractrows')
export('kmoptpermcut')
export('kmoptscut')
export('kmqcut')
export('kmucut')
export('kmvalcut')
export('transposetable')
export('ucoxbatch')
export('ucoxpred')
import('data.table')
import('stats')
import('stringr')
import('survival')
import('tools')
import('pracma')
import('grDevices')
import('graphics')
import('utils')
import('foreach')
import('doParallel')
import('parallel')
